nav {
    float: right;
    margin-top: 25px;}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}



#contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
  
  @media screen and (max-width:980px){
    #container{
        width: 100%;
    }

    img{
        width:100%;
    }
}

@media screen and (max-width:768px){
    #container{
        width: 100%;
    }

    img{
        width:100%;
    }
}

@media screen and (max-width:640px){
    #container{
        width: 100%;
    }

    img{
        width:100%;
    }
}